APP_HOST=0.0.0.0
APP_PORT=8000
PUBLIC_BASE_URL=http://localhost:8000

HF_API_KEY=hf_xxx
HF_API_URL=https://router.huggingface.co/v1/chat/completions
HF_MODEL=meta-llama/Llama-3.1-8B-Instruct
HF_TEMPERATURE=0.2
HF_MAX_TOKENS=200

MCP_TRANSPORT=sse
MCP_SERVER_URL=https://ominous-funicular-v6xq97xww67w2w466-8000.app.github.dev/sse
MCP_HEADERS={}
MCP_SERVER_COMMAND=python
MCP_SERVER_ARGS=["-m", "kolb_mcp_server"]
MCP_GET_PROFILE_TOOL=obtener_perfil_kolb
MCP_SAVE_PROFILE_TOOL=actualizar_perfil_kolb
